@model IEnumerable<PdfFile>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Media/Views/Shared/_Layout.cshtml";
}

@section head {
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="~/lib/table/datatable/datatables.css">
    <link rel="stylesheet" type="text/css" href="~/lib/table/datatable/dt-global_style.css">
    <!-- END PAGE LEVEL STYLES -->
}
<div class="br-pagetitle">
    <i class="icon fas fa-light fa-file-word"></i>
    <div class="row">
        <div class="col-lg-10 col-10">
            <h3 class="text-info">قائمة الملفات </h3>
        </div>

        <div class="col-lg-2 col-2">
            <a asp-action="Upload" asp-controller="PDF" class="btn btn-primary">اضافة ملف</a>
        </div>

    </div>
</div>

<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="table-wrapper">
            <table id="deptsTable" class="table display responsive nowrap">
                <thead>
                    <tr>
                        <th>اسم الملف</th>
                        <th>تاريخ الانشاء</th>
                        <th>الحالة</th>
                        <th>عرض</th>
                        <th>تعديل</th>
                        <th>ارسال </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var file in Model)
                    {
                        <tr>
                            <td>@file.Name</td>
                            <td>@file.CreationDate</td>
                            <td>
                                @if (file.status == 0)
                                {
                                    <span class="text-info">لم يتم الارسال بعد</span>
                                }
                                @if (file.status == 1)
                                {
                                    <span class="text-info">تحت مراجعة الادمن</span>
                                }
                                else if (file.status == 2)
                                {
                                    <span class="text-info">تم طلب تعديلات</span>
                                }
                                else if (file.status == 3)
                                {
                                    <span class="text-info">تحت مراجعة فريق المراجعة</span>
                                }
                                else if (file.status == 4)
                                {
                                    <span class="text-info">تم قبول الملف</span>
                                }
                            </td>
                            <td>
                                <a href="~/pdffiles/@file.PDFPath" class="btn btn-info" target="_blank">
                                    <i class="fas fa-file-pdf"></i>
                                </a>
                            </td>
                            <td>
                                @if (file.status == 0 || file.status == 2 )
                                {
                                    <a asp-action="Edit" asp-controller="PDF" asp-route-id="@file.Id" class=" btn btn-warning"> <i class="fas fa-edit"></i> </a>

                                }
                                else
                                {
                                <span class="text-info">تحت المراجعة</span>
                                }
                            </td>
                            <td>
                                @if (file.status == 0)
                                {
                                    <a asp-action="ShowFile" asp-controller="PDF" asp-route-id="@file.Id" class=" btn btn-success">
                                        <i class="fas fa-plane"></i>
                                        ارسال
                                    </a>
                                }
                                @if (file.status == 1)
                                {
                                    <span class="text-info">تحت مراجعة الادمن</span>
                                }
                                else if (file.status == 2)
                                {
                                    <a asp-action="ShowFile" asp-controller="PDF" asp-route-id="@file.Id" class=" btn btn-success">
                                        <i class="fas fa-plane"></i>
                                        ارسال
                                    </a>
                                }
                                else if (file.status == 3)
                                {
                                    <span class="text-info">تحت مراجعة فريق المراجعة</span>
                                }
                                else if (file.status == 4)
                                {
                                    <span class="text-info">تم قبول الملف</span>
                                }
                                
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<input type="hidden" id="created" data-value="@ViewBag.created" />
<input type="hidden" id="Sent" data-value="@ViewBag.Sent" />
<input type="hidden" id="updated" data-value="@ViewBag.updated" />

@section scripts {
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/lib/table/datatable/datatables.js"></script>
    <script>
        $('#deptsTable').DataTable({
            "oLanguage": {
                "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                "sInfo": "عدد النتائج   _TOTAL_",
                "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                "sSearchPlaceholder": "بحث...",
                "sLengthMenu": "النتائج :  _MENU_ ",
            },
            "order": [[1, "desc"]],
            "stripeClasses": [],
            "lengthMenu": [7, 10, 20, 50],
            "pageLength": 20,
            drawCallback: function () { $('.dataTables_paginate > .pagination').addClass(' pagination-style-13 pagination-bordered mb-5'); }
        });
    </script>
    <link href="~/lib/toaster/toaster.css" rel="stylesheet" />
    <script src="~/lib/toaster/toaster.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var updated = $("#updated").data("value");
            if (updated == "True") {
                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": true,
                    "positionClass": "toast-top-left",
                    "preventDuplicates": true,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "12000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                toastr.success("تم التعديل  بنجاح");
            }
            var created = $("#created").data("value");
            if (created == "True") {
                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": true,
                    "positionClass": "toast-top-left",
                    "preventDuplicates": true,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "12000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                toastr.success("تم اضافة الملف بنجاح");
            }

            var Sent = $("#Sent").data("value");
            if (Sent == "True") {
                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": true,
                    "positionClass": "toast-top-left",
                    "preventDuplicates": true,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "12000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                toastr.success("تم الارسال بنجاح");
            }
        });
    </script>
    <!-- END PAGE LEVEL SCRIPTS -->
}
