@model IEnumerable<Payment>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Printing/Views/Shared/_Layout.cshtml";
}

@section head {
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="~/lib/table/datatable/datatables.css">
    <link rel="stylesheet" type="text/css" href="~/lib/table/datatable/dt-global_style.css">
    <!-- END PAGE LEVEL STYLES -->
}

<div class="br-pagetitle">
    <i class="icon fas fa-light fa-receipt"></i>
    <div class="row">
        <div class="col-lg-6 col-6">
            <h3 class="text-info">قائمة الفواتير</h3>
        </div>
        <div class="col-lg-6 col-6 mt-3">
            @if (ViewBag.ThisUser.TotalMoney > 0)
            {
                    <h4>@ViewBag.ThisUser.TotalMoney (دائن)</h4>
            }
            else if (ViewBag.ThisUser.TotalMoney < 0)
            {
                    <h4> @Math.Abs(ViewBag.ThisUser.TotalMoney) (مدين)</h4>
            }
            
        </div>

    </div>
</div>

<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="table-wrapper">
            <i class="fas fa-file-pdf"></i>
            <table id="paymentTable" class="table display responsive nowrap">
                <thead>
                    <tr>
                        <th>اسم المطبعة</th>
                        <th>المبلغ</th>
                        <th>نوع الدفع</th>
                        <th>وقت الدفع</th>
                        <th>دليل الدفع</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var payment in Model)
                    {
                        <tr>
                            <td>@payment.User.FullName</td>
                            <td>@payment.Money</td>
                            @if (payment.Type == 1)
                            {
                                <td>فوري</td>
                            }
                            else if (payment.Type == 2)
                            {
                                <td>كاش</td>
                            }
                            else if (payment.Type == 3)
                            {
                                <td>فودافون كاش</td>
                            }
                            else if (payment.Type == 4)
                            {
                                <td>اتصالات كاش</td>
                            }
                            else if (payment.Type == 5)
                            {
                                <td>فيزا</td>
                            }
                            <td>@payment.PaymentTime</td>
                            <td>
                                @if (!string.IsNullOrEmpty(payment.PhotoPath))
                                {
                                    <a class="image-receipt" href="~/Payment/@payment.PhotoPath">
                                        <img src="~/Payment/@payment.PhotoPath" alt="فاتورة" width="50" height="50" />
                                    </a>

                                }
                                else
                                {
                                    <span>كاش</span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<input type="hidden" id="created" data-value="@ViewBag.created" />

@section scripts {
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/lib/table/datatable/datatables.js"></script>
    <script>
        $('#paymentTable').DataTable({
            "oLanguage": {
                "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                "sInfo": "عدد النتائج   _TOTAL_",
                "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                "sSearchPlaceholder": "بحث...",
                "sLengthMenu": "النتائج :  _MENU_ ",
            },
            "order": [[1, "desc"]],
            "stripeClasses": [],
            "lengthMenu": [7, 10, 20, 50],
            "pageLength": 20,
            drawCallback: function () { $('.dataTables_paginate > .pagination').addClass(' pagination-style-13 pagination-bordered mb-5'); }
        });
    </script>
    <link href="~/lib/toaster/toaster.css" rel="stylesheet" />
    <script src="~/lib/toaster/toaster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" integrity="sha512-WEQNv9d3+sqyHjrqUZobDhFARZDko2wpWdfcpv44lsypsSuMO0kHGd3MQ8rrsBn/Qa39VojphdU6CMkpJUmDVw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js" integrity="sha512-IsNh5E3eYy3tr/JiX2Yx4vsCujtkhwl7SLqgnwLNgf04Hrt9BT9SXlLlZlWx+OK4ndzAoALhsMNcCmkggjZB1w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script type="text/javascript">
        $('.image-receipt').magnificPopup({ type: 'image' });
        $(document).ready(function () {
            var created = $("#created").data("value");
            if (created == "True") {
                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": true,
                    "positionClass": "toast-top-left",
                    "preventDuplicates": true,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "12000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                toastr.success("تم الحفظ بنجاح");
            }




        });
    </script>
    <!-- END PAGE LEVEL SCRIPTS -->
}