@model IEnumerable<Library>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Printing/Views/Shared/_Layout.cshtml";
}

@section head {
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="~/lib/table/datatable/datatables.css">
    <link rel="stylesheet" type="text/css" href="~/lib/table/datatable/dt-global_style.css">
    <!-- END PAGE LEVEL STYLES -->
}

<div class="br-pagetitle">
    <i class="icon fas fa-light fa-cog"></i>
    <div class="row">
        <div class="col-lg-10 col-10">
            <h3 class="text-info">قائمة المطبوعات</h3>
        </div>

        <div class="col-lg-2 col-2">
            <a asp-action="Create" asp-controller="Library" class="btn btn-primary">اضافة مطبوعات</a>
        </div>

    </div>
</div>

<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="table-wrapper">
            <table id="libraryTable" class="table display responsive nowrap">
                <thead>
                    <tr>
                        <th>نوع الطباعة</th>
                        <th>عدد الالوان</th>
                        <th>عدد الوحدات</th>
                        <th>سعر الوحدة</th>
                        <th>اجمالي السعر</th>
                        <th>حالة الطلب</th>
                        <th>تعديل</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var library in Model)
                    {
                        <tr>
                            <td>@library.PrintType.Name</td>
                            <td>@library.Color</td>
                            <td>@library.Count</td>
                            <td>@library.PriceOfUnit</td>
                            <td>@library.Total</td>
                            <td>
                                @if (library.Status == 1)
                                {
                                    <span class="text-info"><i class="fas fa-exclamation-circle"></i> يحتاج الي مراجعة الادمن</span>
                                }
                                else if (library.Status == 2)
                                {
                                    <span class="text-warning"><i class="fas fa-pen"></i> يحتاج الي تعديل</span>
                                }
                                else if (library.Status == 3)
                                {
                                    <span class="text-success"><i class="fas fa-check-circle"></i> تم قبول الطلب</span>
                                }
                                else if (library.Status == 4)
                                {
                                    <span class="text-danger"><i class="fas fa-times-circle"></i> تم رفض الطلب</span>
                                }
                            </td>
                            <td>
                                @if(library.Status != 3)
                                {
                                    <a asp-action="Edit" asp-controller="Library" asp-route-id="@library.LibraryId" class="btn btn-info">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                }
                                else
                                {
                                    <span class="text-danger"><i class="fas fa-ban"></i> لا يمكن التعديل</span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts {
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/lib/table/datatable/datatables.js"></script>
    <script>
        $('#libraryTable').DataTable({
            "oLanguage": {
                "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                "sInfo": "عدد النتائج   _TOTAL_",
                "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                "sSearchPlaceholder": "بحث...",
                "sLengthMenu": "النتائج :  _MENU_ ",
            },
            "order": [[1, "desc"]],
            "stripeClasses": [],
            "lengthMenu": [7, 10, 20, 50],
            "pageLength": 20,
            drawCallback: function () { $('.dataTables_paginate > .pagination').addClass(' pagination-style-13 pagination-bordered mb-5'); }
        });
    </script>
    <link href="~/lib/toaster/toaster.css" rel="stylesheet" />
    <script src="~/lib/toaster/toaster.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var updated = $("#updated").data("value");
            if (updated == "True") {
                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": true,
                    "positionClass": "toast-top-left",
                    "preventDuplicates": true,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "12000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                toastr.success("تم التعديل  بنجاح");
            }
        });
    </script>
    <!-- END PAGE LEVEL SCRIPTS -->
}
