@model BFile
@{
    ViewData["Title"] = "Rejected";
    Layout = "~/Areas/SuperAdmin/Views/Shared/_Layout.cshtml";
}

<div class="br-pagetitle">
    <h3 class="text-info mr-3"> المادة العلمية </h3>
</div><!-- d-flex -->

<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="row">
            <div class="col-xl-12">
                <div class="form-layout form-layout-4">
                    <form method="post" asp-action="Rejected" asp-controller="RejectedMaterial" enctype="multipart/form-data">
                        <div class="row mb-3">
                            <label class="col-sm-4 form-control-label" for="flexCheckDefault">اسم المادة: <span class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <input asp-for="Name" type="text" class="form-control" placeholder="اسم المادة" required readonly>
                                <span class="text-danger" asp-validation-for="Name"></span>
                            </div>
                        </div><!-- row -->
                        <div class="row mb-3">
                            <label class="col-sm-4 form-control-label" for="flexCheckDefault">الوصف: <span class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <textarea asp-for="Description" rows="5" class="form-control" required readonly></textarea>
                                <span class="text-danger" asp-validation-for="Description"></span>
                            </div>
                        </div><!-- row -->
                        <div class="row mb-3">
                            <label class="col-sm-4 form-control-label" for="flexCheckDefault">اسم الكتاب: <span class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <select asp-for="BookId" class="form-control" required readonly>
                                    <option value="">اختر اسم الكتاب</option>
                                    @foreach (var book in ViewBag.Books)
                                    {
                                        if (Model.BookId == book.Id)
                                        {
                                            <option value="@book.Id" selected>@book.Name</option>
                                        }
                                    }
                                </select>
                                <span class="text-danger" asp-validation-for="BookId"></span>
                            </div>
                        </div><!-- row -->

                        <div class="container">
                            <div class="row mb-3">
                                <div class="col-8">
                                    <label class="form-label text-dark font-weight-bold">اسم الفرع</label>
                                </div>
                                <div class="col-2">
                                    <label class="form-label text-dark font-weight-bold">عدد الوحدات</label>
                                </div>
                                <div class="col-2">
                                    <label class="form-label text-dark font-weight-bold">عدد الدروس</label>
                                </div>
                            </div>

                            @foreach (var item in ViewBag.currentBranches)
                            {
                                <hr style="border-top: 1px solid #ccc; margin-top: 10px; margin-bottom: 10px;">
                                <div class="row mb-3">
                                    <div class="col-8">
                                        <label class="form-label text-dark font-weight-bold">@item.Branch.Name</label>
                                    </div>
                                    <div class="col-2">
                                        <label class="form-label text-dark font-weight-bold">@item.UnitsCount</label>
                                    </div>
                                    <div class="col-2">
                                        <label class="form-label text-dark font-weight-bold">@item.LessonsCount</label>
                                    </div>
                                </div>
                            }
                            <hr style="border-top: 1px solid #ccc; margin-top: 10px; margin-bottom: 10px;">
                        </div>

                        @*  @foreach (var branch in ViewBag.Branches)
                        {
                        <div class="row mb-3 mr-1">
                        <div class="col-8">
                        <label class="form-label text-dark font-weight-bold">@branch.Name</label>
                        </div>
                        <div class="col-4">
                        <input type="number" name="noUnits_@branch.Id" readonly placeholder="عدد الوحدات" class="form-control input_@branch.Id" />
                        </div>
                        </div>
                        } *@
                        <hr />
                        <div class="row mb-3">
                            <label class="col-sm-4 form-control-label">محتوي المادة: <span class="tx-danger">*</span></label>
                        </div><!-- row -->
                        @if (Model.status == 5)
                        {
                            <div class="row mb-3">
                                <textarea id="fileContent" name="fileContent" required readonly>
                                    @Model.fileContent
                                                </textarea>
                                <span class="text-danger" asp-validation-for="fileContent"></span>
                            </div>
                        }
                        else
                        {
                            <div class="row mb-3">
                                <textarea id="fileContent" name="fileContent" asp-for="fileContent" required readonly>
                                                </textarea>
                                <span class="text-danger" asp-validation-for="fileContent"></span>
                            </div>
                        }
                        <hr />
                        <input type="hidden" asp-for="Id" />
                        <div class="form-layout-footer mg-t-30 text-center">
                            <a asp-action="Index" asp-controller="RejectedMaterial" class="btn btn-secondary">الرجوع</a>
                        </div><!-- form-layout-footer -->
                    </form>
                </div><!-- form-layout -->
            </div>
        </div><!-- row -->
    </div><!-- br-section-wrapper -->
</div><!-- br-pagebody -->
@section scripts {
    <script type="text/javascript" src="~/lib/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="~/lib/sweetalerts/sweetalert.min.js"></script>
    <script>
        let chk = @ViewBag.currentBranchesCount;
        window.onload = function () {
            CKEDITOR.replace('fileContent');
        };
    </script>
    @foreach (var item in ViewBag.Branches)
    {
        <script>
            $("#check_@item.Id").change(function () {
                if (this.checked) {
                    $(".input_@item.Id").attr("readonly", false);
                    $(".input_@item.Id").prop("required", true);
                    chk++;
                }
                else {
                    $(".input_@item.Id").attr("readonly", true);
                    $(".input_@item.Id").prop("required", false);
                    chk--;
                }
            });
        </script>
    }
    @foreach (var item in ViewBag.currentBranches)
    {
        <script>
            $("#check_@item.Branch.Id").change(function () {
                if (this.checked) {
                    $(".input_@item.Branch.Id").attr("readonly", false);
                    $(".input_@item.Branch.Id").prop("required", true);
                    chk++;
                }
                else {
                    $(".input_@item.Branch.Id").attr("readonly", true);
                    $(".input_@item.Branch.Id").prop("required", false);
                    chk--;
                }
            });
        </script>
    }
    <script>
        function clicked(e) {
            if (chk == 0) {
                Swal.fire({
                    icon: "error",
                    title: "خطأ...",
                    confirmButtonText: "حسنا",
                    text: 'يجب اختيار قسم واحد علي الاقل'
                });
                e.preventDefault();
            }
        }
    </script>
}
