@model BFile
@{
    ViewData["Title"] = "ShowFile";
    Layout = "~/Areas/SuperAdmin/Views/Shared/_Layout.cshtml";
}

<div class="br-pagetitle">
    <i class="icon fas fa-light fa-file-word"></i>
    <div class="row">
        <div class="col-lg-12 col-12">
            <h3 class="text-info">@Model.Name</h3>
        </div>

        @* <div class="col-lg-2 col-2">
        <a asp-action="Upload" asp-controller="File" class="btn btn-primary">اضافة ماده علمية </a>
        </div>*@

    </div>
</div>
<div class="br-pagebody">
    <div class="br-section-wrapper">
       @* <div>
            <textarea id="tiny"></textarea>
        </div>*@
        <div class="row mb-3">
            <div class="col-4 mt-4">
                <label class="form-label text-dark font-weight-bold" for="flexCheckDefault">
                    اسم المعد
                </label>
            </div>
            <div class="col-4">
                <input type="text" readonly class="form-control " value="@Model.User.FullName" />
            </div>



        </div>
        <div class="row mb-3">
            <div class="col-4 mt-4">
                <label class="form-label text-dark font-weight-bold" for="flexCheckDefault">
                    اسم الكتاب
                </label>
            </div>
            <div class="col-4">
                <input type="text" readonly class="form-control " value="@Model.Book.Name" />
            </div>
            


        </div>
        <div class="row mb-3">
            <div class="col-4 mt-4">
                <label class="form-label text-dark font-weight-bold" for="flexCheckDefault">
                    تاريخ الانشاء
                </label>
            </div>
            <div class="col-4">
                <input type="text" readonly class="form-control " value="@Model.CreationDate" />
            </div>



        </div>
        <hr />
        @foreach (var branch in ViewBag.Branches)
        {
            <div class="row mb-3">
                <div class="col-4 mt-4">
                    <label class="form-label text-dark font-weight-bold" for="flexCheckDefault">
                        @branch.Branch.Name
                    </label>
                </div>
                <div class="col-4">
                    <label class="form-label">عدد الوحدات</label>
                    <input type="number" readonly  class="form-control " value="@branch.UnitsCount" />
                </div>
                <div class="col-4">
                    <label class="form-label">عدد الدروس </label>
                    <input type="number" readonly placeholder="عدد الدروس" class="form-control " value="@branch.LessonsCount" />
                </div>


            </div>

            <!-- row -->
        }
        <hr/>
        <form method="post" asp-action="SendForReview" asp-controller="File">
            <div class="row mb-3">
                <label class="col-sm-4 form-control-label  text-dark font-weight-bold">محتوي المادة</label>
            </div><!-- row -->
            <div class="row mb-3 mr-1">
                <textarea id="fileContent" rows="12" cols="50" name="fileContent" asp-for="@Model.fileContent">@Model.fileContent</textarea>
            </div>
            <hr />
            <div class="row mb-3">
                <label class="col-sm-4 form-control-label  text-dark font-weight-bold">ملاحظات </label>
            </div><!-- row -->
            <div class="row mb-3 mr-1">
                <textarea id="Notes" name="Notes" class="form-control" rows="8"></textarea>
            </div>
            <input type="hidden"  name="BfileId" value="@Model.Id" />
            <input type="hidden" id="Prepare" name="Prepare" value="0" />
            <div class="form-layout-footer mg-t-30 text-center">
                <input type="submit" value="ارسال للاعداد" onclick="clicked(event)" class="btn btn-danger">
                <input type="submit" value="ارسال للمراجعة"  class="btn btn-success">
                <a asp-action="Index" asp-controller="File" class="btn btn-secondary">الرجوع</a>
            </div><!-- form-layout-footer -->
        </form>
       
    </div>
</div>
@section scripts{
    <script type="text/javascript" src="~/lib/ckeditor/ckeditor.js"></script>
   
    <script>
        window.onload = function () {
            CKEDITOR.replace('fileContent');
            
        };
        function clicked(e) {
            if ($('#Notes').val().length <=0) {
                alert("يجب ادخال ملاحظات للاعداد")
                e.preventDefault();
            }
            $('#Prepare').val('1');
        }
        //tinymce.init({
        //    selector: 'textarea#tiny'
        //});
        // Prevent Bootstrap dialog from blocking focusin
        //document.addEventListener('focusin', (e) => {
        //    if (e.target.closest(".tox-tinymce, .tox-tinymce-aux, .moxman-window, .tam-assetmanager-root") !== null) {
        //        e.stopImmediatePropagation();
        //    }
        //});
    </script>

}


